Given:
1. A starting portfolio balance of $4.00M
2. Annual withdrawals of $100K
3. Annual withdrawals increase at a rate of 3% per years
4. A duration of 40 years
5. A portfolio CAGR of 9.8
6. A portfolio volatility of 17.5%
What will the median portfolio be worth at the end of the 40-year duration?

What if I take the first 10 years of withdrawals (not inflation-adjusted) as a single withdrawal at the start, skip those annual withdrawals, then start withdrawing again after that period has elapsed?